name: Rector

on:
  push:
    paths:
      - '**.php'
      - 'rector.php'
  pull_request:
    paths:
      - '**.php'
      - 'rector.php'

jobs:
  rector:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.5'
          coverage: none

      - name: Install composer dependencies
        uses: ramsey/composer-install@v3

      - name: Check Rector
        run: composer test:rector
